// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'register';
@import 'login';
@import 'dashboard';
@import 'footer';
// general regole
* {
    font-family: 'Roboto Slab';
}
.py-4{
 padding-top: 0px !important;
}

nav{
    background-color: $background;
}


